!!! 5
%html
  %head
    %title= 'Tfl Status'
    %link{ rel: 'stylesheet', href: '/style.css' }
    %meta{ 'http-equiv': 'refresh', content: '300' }

  %body
    .grid
      -@line_statuses.each do |line|
        .line{ class: "line line-#{line[:id]}" }
          %strong=line[:name]
          - line[:statuses].each do |status|
            %span{class: status[:severity] == 'Good Service' ? 'severity' : 'severity severity-warning' }
              = status[:severity]
            .reason
              = status[:reason] unless status[:reason].empty?

      %footer
        .updated
          Last updated:
          =Time.now.strftime('%H:%M')
