html {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  color: #333;
  font-family: 'Helvetica Neue', helvetica, arial, sans-serif;
  font-size: 2.5vh;
  line-height: 1.5;
}

header {
  margin: 0;
  padding: 24px 36px;
  background-color: #fff;
}

main {
}

footer {
  padding: 0.5em 1em;
  border-left: 2em solid #f5f5f5;
  color: #827e7e;
}

.updated {
  font-size: 0.7em;
}

.line {
  padding: 0.5em 1em;
  margin: 0.1em 0;
}

.severity {
  color: #827e7e;
}

.severity-warning {
  color: #e32017;
  font-weight: bold;
}

.severity-warning::before {
  content: "☹";
}

.reason {
  font-size: 0.85em;
}

.line-bakerloo {
  border-left: 2em solid #b36305;
}

.line-central {
  border-left: 2em solid #e32017;
}

.line-circle {
  border-left: 2em solid #ffd300;
}

.line-district {
  border-left: 2em solid #00782a;
}

.line-hammersmith-city {
  border-left: 2em solid #f3a9bb;
}

.line-jubilee {
  border-left: 2em solid #a0a5a9;
}

.line-metropolitan {
  border-left: 2em solid #9b0056;
}

.line-northern {
  border-left: 2em solid #000000;
}

.line-piccadilly {
  border-left: 2em solid #003688;
}

.line-victoria {
  border-left: 2em solid #0098d4;
}

.line-waterloo-city {
  border-left: 2em solid #95cdba;
}

.line-london-overground {
  border-left: 2em solid #ee7c0e;
}

.grid {
  display: grid;
  grid-template-rows: 1fr;
}
